body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background.png");
    font-family: "Pixelify Sans", sans-serif;
}

/* Envelope Screen */
#envelope-container {
    text-align: center;
    cursor:pointer;
}

@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#envelope{
    width: 250px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

#letter-container{
    display: none;
    inset: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.letter-window{
    width: 95%;
    max-width: 650px;
    min-height: 420px;
    overflow: hidden;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    gap: 16px;
    padding-top: 210px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    flex-shrink: 0;
    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

#letter-title,
.final-text {
    max-width: 85%;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
}

#letter-title{
    font-size: 16px;
    margin-top: 6px;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1#letter-title {
    font-size: 16px;
    line-height: 1.4;
    max-width: 85%;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 0;
    line-height: 1.4;
}

/* us */

.us {
    width: 320px;
    max-width: 85%;
    max-height: 180px;
    height: auto;
    object-fit: contain;
    margin: 0px 0;
    transition: width 0.4s ease;
    justify-content: center;
    align-items: center;
}

.letter-window.snoopy .us {
    width: 240px;
}

.letter-window.kitties .us {
    width: 180px;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: relative;
}

.no-wrapper{
    position:relative;
}

.btn {
    width: 100px;
    cursor: pointer;
    user-select: none;
}

.yes-btn,
.no-btn {
width: 100px;
height: auto;
display: inline-block;
}

.yes-btn {
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.no-btn {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
}

.final-text{
    font-size: 14px;
    line-height: 1.4;
    margin: 0px auto 0 auto;
    max-width: 85%;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255,240,240,0.5);
    border-radius: 12px;
}

